/* Need to adjust the navbar behaviour so the navbar doesn't wrap */
.navbar-nav { 
position: fixed;
left: 150px;
width: 1000px;
}

.navbar-right { 
position: fixed;
left: 80%;
width: 300px;
}

.navbar-header {
position: fixed;
left: 30px;
width: 97%;
}

.nav {
    font-size: 15px;
}

body {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 2;
}

h1 {
  font-size: 32px;
}
h1.title {
  font-size: 32px;
}
h2 {
  font-size: 28px;
  padding-top: 100px;
  margin: 0 200px 0 0;
  display: block;
}
h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
img {
    display: block;
    margin: auto;
}

img-circle {
    border-radius: 50%;
}
